<section class="card">
  @if (validSubscription) {
  <full-calendar [options]="calendarOptions"></full-calendar>

  <p-dialog
    #dd
    [(visible)]="showDialog"
    [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
    [style]="{ width: '36rem' }"
    [modal]="true"
    [closable]="true"
    (onHide)="view = ''"
  >
    <ng-template pTemplate="header">
      <span class="text-900 font-semibold text-xl">{{
        view === "display"
          ? changedEvent.title
          : view === "new"
          ? "New Event"
          : "Edit Event"
      }}</span>
    </ng-template>
    <ng-template pTemplate="content">
      <div *ngIf="view === 'display'">
        <span class="text-900 font-semibold block mb-2">Description</span>
        <span class="block mb-3">{{ changedEvent.description }}</span>

        <div class="grid">
          <div class="col-6">
            <div class="text-900 font-semibold mb-2">Start</div>
            <p class="flex align-items-center m-0">
              <i class="pi pi-fw pi-clock text-700 mr-2"></i>
              <span>{{ changedEvent.start.toISOString().slice(0, 10) }}</span>
            </p>
          </div>
          <div class="col-6">
            <div class="text-900 font-semibold mb-2">End</div>
            <p class="flex align-items-center m-0">
              <i class="pi pi-fw pi-clock text-700 mr-2"></i>
              <span>{{ changedEvent.end.toISOString().slice(0, 10) }}</span>
            </p>
          </div>
          <div class="col-12">
            <div class="text-900 font-semibold mb-2">Location</div>
            <p class="flex align-items-center m-0">
              <i class="pi pi-fw pi-clock text-700 mr-2"></i>
              <span>{{ changedEvent.location }}</span>
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="view !== 'display'">
        <div class="grid p-fluid formgrid">
          <div class="col-12 md:col-6 field">
            <label for="title" class="text-900 font-semibold">Client</label>
            <div class="flex align-items-center">
              <span class="p-input-icon-left flex-grow">
                <p-dropdown
                  [options]="clients"
                  optionLabel="firstName"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  placeholder="Client"
                  (onChange)="onClientChange($event)"
                >
                </p-dropdown>
              </span>
              <div>
                <p-button icon="pi pi-plus" (click)="addNewClient()"></p-button>
              </div>
            </div>
          </div>

          <div class="col-12 md:col-6 field">
            <label for="location" class="text-900 font-semibold"
              >Location</label
            >
            <span class="p-input-icon-left">
              <i class="pi pi-map-marker"></i>
              <input
                id="location"
                type="text"
                pInputText
                placeholder="Location"
                [(ngModel)]="changedEvent.location"
              />
            </span>
          </div>

          <div class="col-12 field">
            <div class="flex align-items-center" *ngIf="clientSelected">
              <span class="p-input-icon-left flex-grow">
                <p-dropdown
                  [options]="clientBundles"
                  optionLabel="description"
                  placeholder="Bundle Name"
                  (onChange)="onBundleChange($event)"
                >
                </p-dropdown>
              </span>
              <div>
                <p-button icon="pi pi-plus" (click)="addNewBundle()"></p-button>
              </div>
            </div>

            <input
              *ngIf="selectedBundle.id !== 0"
              type="text"
              pInputText
              placeholder="Sessions Left: {{
                selectedBundle.remainingSessions
              }}"
              disabled="true"
            />
          </div>

          <div class="col-12 field">
            <label for="description" class="text-900 font-semibold"
              >Description</label
            >
            <textarea
              id="description"
              type="text"
              pInputTextarea
              [rows]="5"
              [(ngModel)]="changedEvent.description"
              style="resize: none"
            ></textarea>
          </div>

          <div class="col-12 md:col-6 field">
            <label for="start" class="text-900 font-semibold">Start Date</label>
            <p-calendar
              [appendTo]="dd"
              dateFormat="mm-dd-yy"
              [maxDate]="changedEvent.end"
              [showTime]="true"
              [required]="true"
              inputId="start"
              [(ngModel)]="changedEvent.start"
            ></p-calendar>
          </div>
          <div class="col-12 md:col-6 field">
            <label for="start" class="text-900 font-semibold">End Date</label>
            <p-calendar
              [appendTo]="dd"
              dateFormat="mm-dd-yy"
              [minDate]="changedEvent.start"
              [showTime]="true"
              [required]="true"
              inputId="end"
              [(ngModel)]="changedEvent.end"
            ></p-calendar>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        *ngIf="view === 'display'"
        label="Edit"
        icon="pi pi-pencil"
        (click)="onEditClick()"
      ></button>
      <button
        pButton
        *ngIf="view === 'new' || view === 'edit'"
        label="Save"
        icon="pi pi-check"
        (click)="submitEvent()"
        [disabled]="
          !changedEvent.start ||
          !changedEvent.end ||
          !changedEvent.location ||
          !changedEvent.description ||
          (selectedBundle.remainingSessions === 0 && !allowEditWhenDone)
        "
      ></button>
    </ng-template> </p-dialog
  >} @else {
  <div class="flex justify-center items-center h-full">
    <div class="text-center">
      <h1 class="text-900 font-semibold text-3xl">No Subscription</h1>
      <p class="text-700">
        You need to have an active subscription to view this page.
      </p>
      <a
        [routerLink]="[
          '/payment',
          'subscription',
          'price_1P1uS3CgNLrByVR9168vb0js'
        ]"
        >checkout out this page</a
      >
    </div>
  </div>
  }
</section>
