<section class="grid">
  <div class="col-12" [formGroup]="bundleForm">
    <div class="card p-fluid">
      <h5>Create Bundle</h5>
      <div class="field">
        <label htmlFor="name1" class="text-900 font-semibold">Client</label>
        <p-dropdown
          id="name1"
          formControlName="clientId"
          optionLabel="firstName"
          optionValue="id"
          [options]="clients"
        ></p-dropdown>
      </div>
      <div class="field">
        <label htmlFor="name4" class="text-900 font-semibold"
          >Session Amount</label
        >
        <p-inputNumber
          id="name4"
          [min]="0"
          [max]="100"
          [useGrouping]="false"
          formControlName="sessionsNumber"
        ></p-inputNumber>
      </div>
      <div class="field">
        <label htmlFor="name4" class="text-900 font-semibold"
          >Bundle Price</label
        >
        <p-inputNumber
          id="name4"
          [min]="0"
          mode="currency"
          currency="USD"
          [max]="1000"
          [useGrouping]="false"
          formControlName="totalPrice"
        ></p-inputNumber>
      </div>
      <div class="field">
        <label for="description" class="text-900 font-semibold"
          >Bundle Name</label
        >
        <textarea
          id="description"
          type="text"
          pInputTextarea
          [rows]="5"
          style="resize: none"
          formControlName="description"
        ></textarea>
      </div>
      <div class="field">
        <button
          pButton
          label="Create Bundle"
          [disabled]="!bundleForm.valid"
          (click)="addNewBundle()"
        ></button>
      </div>
    </div>
  </div>
</section>
