<section>
  <p-tabView>
    <p-tabPanel header="Trainer I" [formGroup]="workoutPlanTrainerIForm">
      <div class="grid">
        <div class="col-12 md:col-6">
          <div class="card p-fluid" formGroupName="fitnessGoals">
            <h5>Fitness Goals</h5>
            <div class="field">
              <label>Primary Goal</label>

              <p-dropdown
                [options]="fitnessGoals"
                optionLabel="label"
                optionValue="value"
                [pTooltip]="selectedGoal?.info"
                formControlName="primaryGoal"
                [autoDisplayFirst]="false"
              >
                <ng-template let-option pTemplate="item">
                  <div pTooltip="{{ option.info }}" tooltipPosition="right">
                    {{ option.label }}
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="card p-fluid" formGroupName="availability">
            <h5>Availability</h5>
            <div class="field">
              <label>Days Per Week</label>

              <p-dropdown
                [options]="daysPerWeek"
                optionLabel="label"
                optionValue="value"
                formControlName="daysPerWeek"
                [autoDisplayFirst]="false"
              >
              </p-dropdown>
            </div>
            <div class="field">
              <label>Session Duration</label>

              <p-dropdown
                [options]="sessionDuration"
                optionLabel="label"
                optionValue="value"
                formControlName="sessionDuration"
                [autoDisplayFirst]="false"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="card p-fluid" formGroupName="basicInformation">
            <h5>Basic Information</h5>
            <div class="field">
              <label>Name</label>
              <input pInputText formControlName="name" />
            </div>
            <div class="field">
              <label>Age</label>
              <p-inputNumber
                formControlName="age"
                [min]="8"
                [max]="100"
                [useGrouping]="false"
              >
              </p-inputNumber>
            </div>
            <div class="field">
              <label>Gender</label>
              <p-dropdown
                [options]="genderOptions"
                optionLabel="label"
                optionValue="value"
                formControlName="gender"
                [autoDisplayFirst]="false"
              >
              </p-dropdown>
            </div>
            <div class="field">
              <button
                pButton
                pRipple
                label="Submit"
                class="flex-auto"
                (click)="submitTrainer1()"
              ></button>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="card p-fluid">
            <h5>Trainer's Response</h5>
            <p-progressSpinner
              *ngIf="submitted"
              styleClass="w-4rem h-4rem"
              strokeWidth="8"
              fill="var(--surface-ground)"
              animationDuration=".5s"
            ></p-progressSpinner>
            <p [innerHTML]="trainer1Response"></p>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Trainer II" [formGroup]="workoutPlanTrainerIIForm">
      <div class="grid">
        <div class="col-12 md:col-6">
          <div class="card p-fluid" formGroupName="fitnessGoals">
            <h5>Fitness Goals</h5>
            <div class="field">
              <label>Primary Goal</label>

              <p-dropdown
                [options]="fitnessGoals"
                optionLabel="label"
                optionValue="value"
                [pTooltip]="selectedGoal?.info"
                formControlName="primaryGoal"
                [autoDisplayFirst]="false"
              >
                <ng-template let-option pTemplate="item">
                  <div pTooltip="{{ option.info }}" tooltipPosition="right">
                    {{ option.label }}
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="field">
              <label>Secondary Goals</label>

              <p-multiSelect
                [options]="fitnessGoals"
                optionLabel="label"
                optionValue="value"
                [pTooltip]="selectedGoal?.info"
                formControlName="secondaryGoals"
              >
                <ng-template let-option pTemplate="item">
                  <div pTooltip="{{ option.info }}" tooltipPosition="right">
                    {{ option.label }}
                  </div>
                </ng-template>
              </p-multiSelect>
            </div>
          </div>
          <div class="card p-fluid" formGroupName="currentFitnessLevel">
            <h5>Current Fitness Level</h5>
            <div class="field" formGroupName="currentRoutine">
              <label htmlFor="1">Days Per Week</label>
              <p-dropdown
                id="1"
                [options]="daysPerWeek"
                optionLabel="label"
                optionValue="value"
                formControlName="daysPerWeek"
                [autoDisplayFirst]="false"
              >
              </p-dropdown>
            </div>
            <div class="field" formGroupName="currentRoutine">
              <label htmlFor="2">Fitness Level</label>
              <p-dropdown
                id="2"
                [options]="fitnessLevel"
                optionLabel="label"
                optionValue="value"
                formControlName="fitnessLevel"
                [autoDisplayFirst]="false"
              >
              </p-dropdown>
            </div>
            <div class="field" formGroupName="physicalStats">
              <label htmlFor="3">Height in centimeters </label>
              <p-inputNumber
                id="3"
                formControlName="height"
                [min]="0"
                [max]="300"
                [useGrouping]="false"
              >
              </p-inputNumber>
            </div>
            <div class="field" formGroupName="physicalStats">
              <label htmlFor="4">Weight in kilograms</label>
              <p-inputNumber
                id="4"
                formControlName="weight"
                [min]="0"
                [max]="300"
                [useGrouping]="false"
              >
              </p-inputNumber>
            </div>
            <div class="field" formGroupName="physicalStats">
              <label htmlFor="5">Body Fat Percentage</label>
              <p-inputNumber
                id="5"
                formControlName="bodyFatPercentage"
                [min]="0"
                [max]="100"
                [useGrouping]="false"
                suffix="%"
              >
              </p-inputNumber>
            </div>
          </div>
          <div class="card p-fluid" formGroupName="availability">
            <h5>Availability</h5>
            <div class="field">
              <label>Days Per Week</label>

              <p-dropdown
                [options]="daysPerWeek"
                optionLabel="label"
                optionValue="value"
                formControlName="daysPerWeek"
                [autoDisplayFirst]="false"
              >
              </p-dropdown>
            </div>
            <div class="field">
              <label>Session Duration</label>

              <p-dropdown
                [options]="sessionDuration"
                optionLabel="label"
                optionValue="value"
                formControlName="sessionDuration"
                [autoDisplayFirst]="false"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="card p-fluid" formGroupName="preferencesAndConstraints">
            <h5>Preferences and Constraints</h5>
            <div class="field">
              <label>Exercice Preferences</label>
              <p-multiSelect
                [options]="exercisePreferences"
                optionLabel="label"
                optionValue="value"
                formControlName="exercisePreferences"
              >
              </p-multiSelect>
            </div>
            <div class="field">
              <label>Access To Gym</label>
              <p-toggleButton
                formControlName="accessToGym"
                onLabel="Yes"
                offLabel="No"
              ></p-toggleButton>
            </div>
            <div class="field">
              <label>Workout Alone</label>
              <p-toggleButton
                formControlName="accessToGym"
                onLabel="Yes"
                offLabel="No"
              ></p-toggleButton>
            </div>
          </div>
          <div class="card p-fluid" formGroupName="medicalHistory">
            <h5>Medical History</h5>
            <div class="field">
              <label>Conditions</label>
              <input pInputText formControlName="conditions" />
            </div>
            <div class="field">
              <label>Current Injuries</label>
              <p-multiSelect
                [options]="injuryOptions"
                optionLabel="label"
                optionValue="value"
                formControlName="injuries"
              >
              </p-multiSelect>
            </div>
          </div>
          <div class="card p-fluid" formGroupName="basicInformation">
            <h5>Basic Information</h5>
            <div class="field">
              <label>Name</label>
              <input pInputText formControlName="name" />
            </div>
            <div class="field">
              <label>Age</label>
              <p-inputNumber
                formControlName="age"
                [min]="0"
                [max]="100"
                [useGrouping]="false"
              >
              </p-inputNumber>
            </div>
            <div class="field">
              <label>Gender</label>
              <p-dropdown
                [options]="genderOptions"
                optionLabel="label"
                optionValue="value"
                formControlName="gender"
                [autoDisplayFirst]="false"
              >
              </p-dropdown>
            </div>
            <div class="field">
              <button
                pButton
                pRipple
                label="Submit"
                class="flex-auto"
                (click)="submitTrainer2()"
              ></button>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="card p-fluid">
            <h5>Trainer's Response</h5>
            {{ trainer2Response }}
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</section>
