<section class="grid">
  <div class="col-12" [formGroup]="clientForm">
    <div class="card p-fluid">
      <h5>Add Client</h5>
      <div class="field">
        <label htmlFor="name4">First Name</label>
        <input
          pInputText
          id="name4"
          type="text"
          formControlName="client_first_name"
        />
      </div>
      <div class="field">
        <label htmlFor="name4">Last Name</label>
        <input
          pInputText
          id="name4"
          type="text"
          formControlName="client_last_name"
        />
      </div>
      <div class="field">
        <button
          pButton
          label="Next"
          [disabled]="!clientForm.valid"
          (click)="addNewClient()"
        ></button>
      </div>
    </div>
  </div>
</section>
