<div class="layout-topbar">
  <div class="topbar-start">
    <button
      #menubutton
      type="button"
      class="topbar-menubutton p-link p-trigger"
      (click)="onMenuButtonClick()"
    >
      <i class="pi pi-bars"></i>
    </button>

    <app-breadcrumb class="topbar-breadcrumb"></app-breadcrumb>
  </div>

  <div class="topbar-end">
    <ul class="topbar-menu">
      <button
        *ngIf="isLoggedOut"
        pButton
        pRipple
        label="Login"
        [routerLink]="'/auth/login'"
      ></button>
      <li class="topbar-search" *ngIf="!isLoggedOut">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search"
            class="w-12rem sm:w-full"
            [formControl]="searchBarControl"
            (click)="op.toggle($event)"
          />
        </span>

        <button
          pButton
          pRipple
          label="Logout"
          (click)="logout()"
          class="ml-3"
        ></button>
      </li>
    </ul>
  </div>
</div>

<p-overlayPanel #op>
  <div class="custom-overlay-content">
    <p *ngFor="let user of users">
      <a
        [routerLink]="['/trainer-profile/show-aboutus/', user.id]"
        class="custom-link"
        (click)="onUserSearch(user.id)"
      >
        {{ user.username }}
      </a>
    </p>
  </div>
</p-overlayPanel>
