<div class="layout-topbar">
  <div class="topbar-start">
    <button
      #menubutton
      type="button"
      class="topbar-menubutton p-link p-trigger"
      (click)="onMenuButtonClick()"
    >
      <i class="pi pi-bars"></i>
    </button>

    <app-breadcrumb class="topbar-breadcrumb"></app-breadcrumb>
  </div>

  <div class="topbar-end">
    <ul class="topbar-menu">
      <div *ngIf="!isLoggedIn">
        <button
          style="margin-right: 10px"
          pButton
          pRipple
          label="Login"
          [routerLink]="'/auth/login'"
        ></button>
        <button
          pButton
          pRipple
          label="Register"
          [routerLink]="'/auth/register'"
        ></button>
      </div>
      <button
        *ngIf="isLoggedIn"
        pButton
        pRipple
        label="Logout"
        (click)="logout()"
      ></button>
    </ul>
  </div>
</div>
