<div class="layout-topbar">
  <div class="topbar-start">
    <button
      #menubutton
      type="button"
      class="topbar-menubutton p-link p-trigger"
      (click)="onMenuButtonClick()"
    >
      <i class="pi pi-bars"></i>
    </button>

    <app-breadcrumb class="topbar-breadcrumb"></app-breadcrumb>
  </div>

  <div class="topbar-end">
    <ul class="topbar-menu">
      <button
        *ngIf="isLoggedOut"
        pButton
        pRipple
        label="Login"
        [routerLink]="'/auth/login'"
      ></button>
      <button
        *ngIf="!isLoggedOut"
        pButton
        pRipple
        label="Logout"
        (click)="logout()"
      ></button>
    </ul>
  </div>
</div>
