<!-- <div class="profile-page">
  <div class="profile-header">
    <p-card>
      <div class="profile-picture">
        <p-avatar [image]="trainer.profilePicture" size="xlarge"></p-avatar>
      </div>
      <div class="profile-info">
        <h2>{{ trainer.firstName }} {{ trainer.lastName }}</h2>
        <p>{{ trainer.briefBio }}</p>
        <div class="social-links">
          <a [href]="'tel:' + trainer.phoneNumber"
            ><i class="pi pi-phone"></i
          ></a>
          <a [href]="'mailto:' + trainer.email"
            ><i class="pi pi-envelope"></i
          ></a>
          <a [href]="trainer.tiktok" target="_blank"
            ><i class="pi pi-twitter"></i
          ></a>
          <a [href]="trainer.instagram" target="_blank"
            ><i class="pi pi-instagram"></i
          ></a>
          <a [href]="trainer.linkedin" target="_blank"
            ><i class="pi pi-linkedin"></i
          ></a>
        </div>
      </div>
    </p-card>
  </div> -->

<!-- <div class="profile-details">
    <p-tabView>
      <p-tabPanel header="Specialities">
        <ul>
          <li *ngFor="let speciality of trainer.specialities">
            {{ speciality }}
          </li>
        </ul>
      </p-tabPanel>

      <p-tabPanel header="Educational Background">
        <p>Education Level: {{ trainer.educationalLevel }}</p>
        <p>Qualification: {{ trainer.nameOfQualification }}</p>
      </p-tabPanel>

      <p-tabPanel header="Certifications">
        <ul>
          <li *ngFor="let certification of trainer.certifications">
            <img src="{{ certification }}" alt="certification" />
          </li>
        </ul>
      </p-tabPanel>
    </p-tabView>
  </div>
</div> -->
